<h1>All Plots</h1>
<% @plots.each do |plot| %>
  <p><%= plot.number %></p>
  <% plot.plants.each do |plant| %>
    <p>Plants: <%= plant.name %></p>
    <%= link_to "Remove #{plant.name}", plant_path(plant, @plot_plant), method: :delete %><br>
  <% end %>
<% end %>
