<h1>All Plots</h1>
<% @plots.each do |plot| %>
  <p><%= plot.number %></p>
  <% plot.plants.each do |plant| %>
    <p>Plants: <%= plant.name %></p>
    <%= link_to "Delete #{plant.name}", plot_plants_path(plot_plant.plant_id), method: :delete %><br>
  <% end %>
<% end %>
